// $primary : rgb(79, 62, 52);
// $primarydark : rgb(18,18,18);
// $secondary : rgb(144, 20, 178);
// $secondarydark : rgb(61, 10, 75);
// $tertiary : #b5e7f3;

$primary : rgb(29,29,29);
$primarydark : rgb(18,18,18);
$secondary : rgb(237,86,21);
$secondarydark : rgb(197,72,18);
$tertiary : #fff;

$d:#edf756